In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/15 07:32:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [7]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [11]:
common_columns = []
yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [12]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [13]:
from pyspark.sql import functions as F

In [14]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [15]:
df_green_sel

DataFrame[VendorID: int, pickup_datetime: timestamp, dropoff_datetime: timestamp, store_and_fwd_flag: string, RatecodeID: int, PULocationID: int, DOLocationID: int, passenger_count: int, trip_distance: double, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, payment_type: int, congestion_surcharge: double, service_type: string]

In [16]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [17]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [18]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green|  570466|
|      yellow|15000700|
+------------+--------+

In [19]:
df_trips_data.createOrReplaceTempView('trips_data')

In [20]:
spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

[Stage 5:>                                                          (0 + 1) / 1]

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2021-06-18 13:31:15|2021-06-18 13:31:24|                 N|         1|           7|           7|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.3|           2|                 0.0|       green|
|       2|2021-06-24 22:19:13|2021-06-24 22:34:45|                 N|         1|          41|         163|              1|         3.86|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|       18.55|           1|                2.75|       green|
|       2|2021-06-29 12:20:36|2021-06-29 12:24:03|                 N|         1|          43|         236|              5|         0.44|        4.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        7.55|           2|                2.75|       green|
|    NULL|2021-06-13 11:50:00|2021-06-13 12:21:00|              NULL|      NULL|         134|          91|           NULL|         9.17|      36.56| 2.75|    0.0|       0.0|         0.0|                  0.3|       39.61|        NULL|                NULL|       green|
|       2|2021-06-27 20:04:35|2021-06-27 20:21:18|                 N|         1|          75|         244|              1|         5.53|       18.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        19.3|           2|                 0.0|       green|
|       2|2021-06-23 19:56:24|2021-06-23 20:49:47|                 N|         1|          22|         197|              1|        21.04|       61.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        63.3|           1|                 0.0|       green|
|       2|2021-06-12 10:40:05|2021-06-12 10:49:28|                 N|         1|          41|         236|              1|         2.08|        9.0|  0.0|    0.5|      3.76|         0.0|                  0.3|       16.31|           1|                2.75|       green|
|       2|2021-06-19 15:22:05|2021-06-19 15:34:24|                 N|         1|          41|         151|              1|         1.35|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.8|           1|                 0.0|       green|
|    NULL|2021-06-12 21:47:00|2021-06-12 22:10:00|              NULL|      NULL|         189|         148|           NULL|         4.49|      18.77|  0.0|    0.0|      5.01|         0.0|                  0.3|       26.83|        NULL|                NULL|       green|
|       2|2021-06-18 19:32:40|2021-06-18 19:57:15|                 N|         1|          41|         179|              1|         4.74|       20.0|  1.0|    0.5|       5.0|        6.55|                  0.3|       33.35|           1|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [21]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY service_type;
""").show()

[Stage 6:=================================>                         (4 + 2) / 7]

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|  570466|
|      yellow|15000700|
+------------+--------+

In [22]:
df_result = spark.sql("""
SELECT
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month,
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM trips_data
GROUP BY 1,2,3
""")

In [23]:
df_result.show()

[Stage 9:==================================================>        (6 + 1) / 7]

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         259|2021-04-01 00:00:00|       green|   7895.719999999992|                585.2|                    6.0|        148.82999999999998|          465.24000000000024|                    71.09999999999982|           9177.589999999997|                        1.2|         9.19502092050209|
|         161|2021-04-01 00:00:00|       green|             1096.75|                 88.0|                    0.0|                       0.0|           63.22999999999999|                    9.299999999999997|                     1257.28|                       NULL|       10.048709677419355|
|         239|2021-06-01 00:00:00|       green|   997.1000000000004|                96.25|                    0.5|                      9.71|                        16.1|                   10.800000000000004|                     1137.71|                       NULL|        6.322222222222224|
|          27|2021-06-01 00:00:00|       green|              288.14|                 4.75|                    1.0|        28.619999999999997|                       21.09|                                  1.8|          345.40000000000003|                        1.0|       12.956666666666669|
|          40|2021-05-01 00:00:00|       green|  2052.9400000000005|    82.29999999999998|                   30.5|                    243.16|           80.61999999999999|                    34.50000000000003|           2595.519999999999|         1.0476190476190477|        4.144137931034485|
|         250|2021-05-01 00:00:00|       green|             5046.26|   470.65000000000003|                   17.0|         55.88000000000001|          220.98000000000013|                   60.299999999999784|           5873.820000000004|          1.393939393939394|       1108.1411330049261|
|         168|2021-04-01 00:00:00|       green|  12315.400000000005|    996.0500000000001|                   78.0|        239.53000000000006|           504.5500000000003|                   171.89999999999912|                    14346.68|          1.319047619047619|        4.827266553480474|
|          79|2021-04-01 00:00:00|       green|              502.26|                 46.7|                    1.5|                       0.0|                       25.77|                    5.399999999999999|                      581.63|                        1.0|        7.223888888888889|
|         207|2021-06-01 00:00:00|       green|   810.8100000000001|                20.25|                   14.0|                       0.0|                        13.1|                   11.700000000000006|           869.8599999999994|         1.5405405405405406|        2.240227272727273|
|          36|2021-06-01 00:00:00|       green|   3204.999999999999|               219.75|                    9.0|         67.58000000000001|          128.91999999999996|                    34.50000000000003|                     3681.25|         1.2173913043478262|        6.057999999999999|
|          92|2021-05-01 00:00:00|       green|   6651.059999999999|   423.05000000000007|                   53.0|         93.99000000000001|           275.1000000000002|                    78.59999999999961|           7574.800000000013|          0.991304347826087|       313.15286792452815|
|         101|2021-05-01 00:00:00|       green|   927.5100000000002|                 60.5|                    1.5|                       0.0|                       25.77|                    7.499999999999997|                     1022.78|                        1.0|        9.271999999999998|
|          72|2021-07-01 00:00:00|       green|  11208.870000000004|                898.6|                   28.0|        38.650000000000006|           339.1900000000002|                   116.39999999999925|          12629.710000000001|         1.0333333333333334|       339.82054123711316|
|         241|2021-04-01 00:00:00|       green|             6659.92|   466.09999999999997|                   30.5|                    197.88|          257.05000000000007|                    76.79999999999987|           7693.750000000001|         1.0945945945945945|        735.5661153846154|
|         184|2021-04-01 00:00:00|       green|  388.79999999999995|                 28.5|                    2.0|                       1.0|                       18.47|                    4.199999999999999|                      442.97|                        1.4|                     8.49|
|         194|2021-05-01 00:00:00|       green|               399.5|                  6.0|                    5.0|        41.309999999999995|           52.39999999999999|                    4.199999999999999|                      519.41|         1.3333333333333333|        5.384666666666666|
|          27|2021-05-01 00:00:00|       green|               96.75|                  0.0|                    0.5|                      20.0|                        2.45|                                  0.6|                       120.3|                        2.0|                   15.155|
|         120|2021-05-01 00:00:00|       green|              337.24|                 11.0|                    4.5|                       0.0|                       19.65|                   3.2999999999999994|          375.69000000000005|         1.6666666666666667|        8.152727272727274|
|          78|2021-06-01 00:00:00|       green|             5668.69|                392.0|                   28.0|        110.58000000000001|           308.9500000000002|                     69.2999999999997|           6588.520000000007|         1.0149253731343284|        1430.718540772532|
|          33|2021-05-01 00:00:00|       green|  19342.080000000053|               852.75|                  353.5|        1950.8499999999983|                       44.75|                   313.50000000000614|           23432.17999999983|         1.0560224089635855|         35.7043499043977|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [24]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

In [26]:
!ls -lhR data/report/revenue/

data/report/revenue/:
total 200K
-rw-r--r-- 1 sweantu sweantu    0 Aug 15 07:38 _SUCCESS
-rw-r--r-- 1 sweantu sweantu 198K Aug 15 07:38 part-00000-bc059580-bfbe-45a4-84d3-413c88984aba-c000.snappy.parquet

In [28]:
spark.read.parquet("data/report/revenue/").count()

3713